@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Titillium+Web:400,300,700);





#dropdown-menu-2btn-6 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-6 .navbar-brand a {
  font-size: 24px;
  font-family: 'Roboto Condensed', sans-serif;
}
#dropdown-menu-2btn-6 .nav .link,
#dropdown-menu-2btn-6 .dropdown-item {
  font-size: 1.6em;
  color: #ffffff;
  font-family: 'Roboto Condensed', sans-serif;
}
#dropdown-menu-2btn-6 .navbar,
#dropdown-menu-2btn-6 .dropdown-menu {
  background: #41a85f;
}
#dropdown-menu-2btn-6 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-6 .dropdown-menu a:hover,
#dropdown-menu-2btn-6 .dropdown-menu a:focus {
  background: #3b9957;
}
#dropdown-menu-2btn-6 .navbar-toggler {
  color: #ffffff;
}
#header4-7 H1 {
  font-size: 60px;
  color: #1abc9c;
  text-align: center;
}
#header4-7 I {
  font-family: 'Titillium Web', sans-serif;
  color: #1a7d37;
  text-align: center;
}
#footer1-k P {
  color: #ffffff;
}
#slider-17 H1 {
  color: #ffffff;
  font-family: 'Roboto Condensed', sans-serif;
  text-align: left;
  font-size: 48px;
}
#slider-17 I {
  text-align: right;
  color: #ffffff;
}
#slider-17 P {
  text-align: right;
  color: #ffffff;
}
#social-buttons2-s .mbr-header__text {
  text-align: left;
  color: #41a85f;
  font-family: 'Roboto Condensed', sans-serif;
}





#slider-1o B {
  text-align: center;
}
#slider-1o DIV {
  text-align: center;
  font-size: 20px;
  font-family: 'Roboto Condensed', sans-serif;
}
#slider-1o I {
  text-align: left;
  font-size: 46px;
}
#slider-1o H1 {
  text-align: left;
}
#slider-1o P {
  text-align: left;
  font-size: 20px;
  font-family: 'Roboto Condensed', sans-serif;
}
#slider-1o SPAN {
  text-align: left;
  font-size: 46px;
}
#dropdown-menu-2btn-e .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-e .navbar-brand a {
  font-size: 24px;
  font-family: 'Roboto Condensed', sans-serif;
}
#dropdown-menu-2btn-e .nav .link,
#dropdown-menu-2btn-e .dropdown-item {
  font-size: 1.6em;
  color: #ffffff;
  font-family: 'Roboto Condensed', sans-serif;
}
#dropdown-menu-2btn-e .navbar,
#dropdown-menu-2btn-e .dropdown-menu {
  background: #41a85f;
}
#dropdown-menu-2btn-e .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-e .dropdown-menu a:hover,
#dropdown-menu-2btn-e .dropdown-menu a:focus {
  background: #3b9957;
}
#dropdown-menu-2btn-e .navbar-toggler {
  color: #ffffff;
}
#footer1-p P {
  color: #ffffff;
}
#social-buttons2-u .mbr-header__text {
  text-align: left;
  color: #ffffff;
  font-family: 'Roboto Condensed', sans-serif;
}


#dropdown-menu-2btn-c .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-c .navbar-brand a {
  font-size: 24px;
  font-family: 'Roboto Condensed', sans-serif;
}
#dropdown-menu-2btn-c .nav .link,
#dropdown-menu-2btn-c .dropdown-item {
  font-size: 1.6em;
  color: #ffffff;
  font-family: 'Roboto Condensed', sans-serif;
}
#dropdown-menu-2btn-c .navbar,
#dropdown-menu-2btn-c .dropdown-menu {
  background: #41a85f;
}
#dropdown-menu-2btn-c .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-c .dropdown-menu a:hover,
#dropdown-menu-2btn-c .dropdown-menu a:focus {
  background: #3b9957;
}
#dropdown-menu-2btn-c .navbar-toggler {
  color: #ffffff;
}
#footer1-p P {
  color: #ffffff;
}
#content4-1k .mbr-section-title .mbr-header__text {
  color: #ffffff;
}
#content4-1k .mbr-section__col .mbr-header__text {
  color: #ffffff;
}
#content4-1k P {
  color: #ffffff;
  text-align: center;
}
#features1-1m .mbr-header__subtext {
  color: #ffffff;
}
#features1-1m .mbr-section-title .mbr-header__text {
  color: #ffffff;
}
#features1-1m .mbr-section__col .mbr-header__text {
  color: #ffffff;
}
#features1-1m P {
  color: #ffffff;
  text-align: center;
}





#dropdown-menu-2btn-f .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-f .navbar-brand a {
  font-size: 24px;
  font-family: 'Roboto Condensed', sans-serif;
}
#dropdown-menu-2btn-f .nav .link,
#dropdown-menu-2btn-f .dropdown-item {
  font-size: 1.6em;
  color: #ffffff;
  font-family: 'Roboto Condensed', sans-serif;
}
#dropdown-menu-2btn-f .navbar,
#dropdown-menu-2btn-f .dropdown-menu {
  background: #41a85f;
}
#dropdown-menu-2btn-f .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-f .dropdown-menu a:hover,
#dropdown-menu-2btn-f .dropdown-menu a:focus {
  background: #3b9957;
}
#dropdown-menu-2btn-f .navbar-toggler {
  color: #ffffff;
}
#contacts2-n P {
  color: #ffffff;
}
#form1-19 .btn {
  font-family: 'Roboto Condensed', sans-serif;
}
#form1-19 .mbr-header__text {
  color: #ffffff;
  font-family: 'Roboto Condensed', sans-serif;
}
#footer1-k P {
  color: #ffffff;
}
#social-buttons2-11 .mbr-header__text {
  text-align: left;
  color: #ffffff;
  font-family: 'Roboto Condensed', sans-serif;
}




#dropdown-menu-2btn-g .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-g .navbar-brand a {
  font-size: 24px;
  font-family: 'Roboto Condensed', sans-serif;
}
#dropdown-menu-2btn-g .nav .link,
#dropdown-menu-2btn-g .dropdown-item {
  font-size: 1.6em;
  color: #ffffff;
  font-family: 'Roboto Condensed', sans-serif;
}
#dropdown-menu-2btn-g .navbar,
#dropdown-menu-2btn-g .dropdown-menu {
  background: #41a85f;
}
#dropdown-menu-2btn-g .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-g .dropdown-menu a:hover,
#dropdown-menu-2btn-g .dropdown-menu a:focus {
  background: #3b9957;
}
#dropdown-menu-2btn-g .navbar-toggler {
  color: #ffffff;
}
#footer1-p P {
  color: #ffffff;
}
#gallery1-10 SMALL {
  text-align: center;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 14px;
  color: #ffffff;
}
#social-buttons2-12 .mbr-header__text {
  text-align: left;
  color: #ffffff;
  font-family: 'Roboto Condensed', sans-serif;
}
#social-buttons2-15 .mbr-header__text {
  color: #ffffff;
}


#msg-box4-1c .mbr-header__text {
  color: #ffffff;
}
#msg-box4-1c .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-1c .mbr-article {
  color: #ffffff;
}
#dropdown-menu-2btn-o .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-o .navbar-brand a {
  font-size: 24px;
  font-family: 'Roboto Condensed', sans-serif;
}
#dropdown-menu-2btn-o .nav .link,
#dropdown-menu-2btn-o .dropdown-item {
  font-size: 1.6em;
  color: #ffffff;
  font-family: 'Roboto Condensed', sans-serif;
}
#dropdown-menu-2btn-o .navbar,
#dropdown-menu-2btn-o .dropdown-menu {
  background: #41a85f;
}
#dropdown-menu-2btn-o .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-o .dropdown-menu a:hover,
#dropdown-menu-2btn-o .dropdown-menu a:focus {
  background: #3b9957;
}
#dropdown-menu-2btn-o .navbar-toggler {
  color: #ffffff;
}
#footer1-p P {
  color: #ffffff;
}
#content4-1b .mbr-section-title .mbr-header__text {
  color: #ffffff;
}
#content4-1b .mbr-section__col .mbr-header__text {
  color: #ffffff;
}
#content4-1b P {
  color: #ffffff;
  text-align: left;
}


#dropdown-menu-2btn-d .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-d .navbar-brand a {
  font-size: 24px;
  font-family: 'Roboto Condensed', sans-serif;
}
#dropdown-menu-2btn-d .nav .link,
#dropdown-menu-2btn-d .dropdown-item {
  font-size: 1.6em;
  color: #ffffff;
  font-family: 'Roboto Condensed', sans-serif;
}
#dropdown-menu-2btn-d .navbar,
#dropdown-menu-2btn-d .dropdown-menu {
  background: #41a85f;
}
#dropdown-menu-2btn-d .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-d .dropdown-menu a:hover,
#dropdown-menu-2btn-d .dropdown-menu a:focus {
  background: #3b9957;
}
#dropdown-menu-2btn-d .navbar-toggler {
  color: #ffffff;
}
#footer1-p P {
  color: #ffffff;
}
#msg-box5-1f .mbr-header__text {
  color: #ffffff;
}
#msg-box5-1f .mbr-header__subtext {
  color: #ffffff;
}
#msg-box5-1f .mbr-article {
  color: #ffffff;
}


#dropdown-menu-2btn-1g .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-1g .navbar-brand a {
  font-size: 24px;
  font-family: 'Roboto Condensed', sans-serif;
}
#dropdown-menu-2btn-1g .nav .link,
#dropdown-menu-2btn-1g .dropdown-item {
  font-size: 1.6em;
  color: #ffffff;
  font-family: 'Roboto Condensed', sans-serif;
}
#dropdown-menu-2btn-1g .navbar,
#dropdown-menu-2btn-1g .dropdown-menu {
  background: #41a85f;
}
#dropdown-menu-2btn-1g .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-1g .dropdown-menu a:hover,
#dropdown-menu-2btn-1g .dropdown-menu a:focus {
  background: #3b9957;
}
#dropdown-menu-2btn-1g .navbar-toggler {
  color: #ffffff;
}
#footer1-1i P {
  color: #ffffff;
}
#testimonials1-1j .mbr-section__header {
  color: #ffffff;
}
#testimonials1-1j .mbr-reviews__author-name {
  color: #ffffff;
}
